<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.fit.persistence.UserMapper">
    <select id="getUserByUsernameAndPassword" parameterType="java.lang.String" resultType="org.csu.fit.domain.User">
        SELECT
              username,
              name,
              gender,
              height,
              weight
        FROM account
        WHERE username = #{username}
          AND password = #{password}
    </select>

    <select id="getDailyFoodForDAOByDate" parameterType="java.lang.String" resultType="org.csu.fit.domain.DailyFoodForDAO">
        SELECT
              date,
              breakfast,
              lunch,
              dinner,
              others,
              breakfastCa,
              lunchCa,
              dinnerCa,
              othersCa
        FROM dailyfood
        WHERE date = #{date}
    </select>

    <select id="getAllDailyFood" resultType="org.csu.fit.domain.DailyFoodForDAO">
        SELECT
              date,
              breakfast,
              lunch,
              dinner,
              others,
              breakfastCa,
              lunchCa,
              dinnerCa,
              othersCa
        FROM dailyfood
    </select>

</mapper>